<div class="d-flex justify-content-center m-3">
    <div class="teste-font">
        {{cpfGenerated | cpfFormat}}
    </div>
</div>


<div class="d-flex justify-content-center m-3">
    <div class="m-2 hand-click">
        <button mat-raised-button (click)="copyValue(false)" color="primary">Copiar Número
            <mat-icon (click)="copyValue(false)">content_copy</mat-icon>
        </button>
    </div>
    <div class="m-2 hand-click">
        <button mat-raised-button (click)="copyValue(true)" color="primary">Copiar Formatado
            <mat-icon (click)="copyValue(true)">content_copy</mat-icon>
        </button>
    </div>  
</div>

<div class="d-flex justify-content-center m-3">
    <button class="btn-generate" mat-raised-button (click)="generateCpf()" color="primary">Gera CPF</button>
</div>

<mat-divider></mat-divider>

<div class="m-3">
    <h3>Valida CPF</h3>
</div>


<div class="m-3">
    <mat-form-field class="field-full-width">
        <mat-label>Digite um CPF para validar</mat-label>
        <input matInput (input)="validateCpf($event)">
      </mat-form-field>
    <span class="error-text">{{errorCpf}}</span>
    <span class="validate-text">{{cpfValid}}</span>
</div>


<mat-divider></mat-divider>

<div class="m-3">
    <h3>Exporta CPF</h3>
</div>

<div class="m-3">
    <mat-radio-group [(ngModel)]="formatCpf">
        <div *ngFor="let format of formats">
            <mat-radio-button class="m-2"  [value]="format.id">
                {{format.text}}
            </mat-radio-button>
        </div>
    </mat-radio-group>
</div>

<export-file (submit)="exportCpf($event)"></export-file>
