.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hand-click {
    cursor: pointer;
}

.uuid {
    margin-top: 100px;
    margin-left: 35%;
}

.btn-generate{
    font-size: 18px;
    width: 200px;
}
  
.field-full-width {
min-width: 150px;
max-width: 300px;
width: 100%;
}

.error-text {
    font-weight: bold;
    margin-left: 10px; 
    color: red;
    font-size: 20px; 
}

.validate-text {
    font-weight: bold;
    margin-left: 10px; 
    color: green;
    font-size: 20px; 
}

@media screen and (max-width: 540px) {
    .teste-font {
        font-size: 18px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .teste-font {
        font-size: 20px; 
    }
}

@media screen and (min-width: 780px) {
.teste-font {
    font-size: 30px; 
}
}