.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hand-click {
    cursor: pointer;
}

.uuid {
    margin-top: 100px;
    margin-left: 35%;
}

.btn-generate{
    font-size: 25px;
    width: 200px;
}