<div class="d-flex justify-content-center m-3">
    <div class="teste-font">
        {{uuid}}
    </div>

    <div class="m-2 hand-click">
        <button mat-raised-button (click)="copyValue()" color="primary">Copy
            <mat-icon (click)="copyValue()">content_copy</mat-icon>
        </button>
    </div> 
</div>

<div class="d-flex justify-content-center m-3">
    <button class="btn-generate" mat-raised-button (click)="generateNewUuid()" color="primary">Generate UUID</button>
</div>

<mat-divider></mat-divider>

 <div class="m-3">
    <h3>Export UUID</h3>
</div>

<export-file (submit)="exportUuid($event)"></export-file>

