<div class="row">
  <div class="col-12 m-3">
    <span class="jwt-font">Escolha o Algoritmo para gerar o token</span>
    <div class="col-12 mt-3">
      <mat-form-field>
        <mat-label>Algoritmo</mat-label>
        <mat-select [(ngModel)]="jwtAlgorithmSelected" (selectionChange)="updateAlgorithm()">
          <mat-option *ngFor="let alg of jwtAlgorithm" [value]="alg.id">
              {{alg.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="m-3">
    <button mat-raised-button (click)="generateToken()" color="primary">Gerar Token</button>    
</div>

</div>




