<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">{{appName}}</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>

			<div *ngFor="let menu of menuItens">
				<mat-list-item (click)="selectMenu(menu.item)" class="parent">
					<span class="full-width" *ngIf="showFullName()">{{menu.fullName}}</span>
					<span class="full-width" *ngIf="showName()">{{menu.name}}</span>
				</mat-list-item>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		<menu-itens [selectedMenu]="this.selectedMenu"></menu-itens>
	</div>

</mat-sidenav-container>