<div class="container-fluid">
    <div class="row table-base64">
      <div [class.col-6]="!isMobile()" [class.col-12]="isMobile()">
        <mat-form-field class="field-full-width" appearance="fill" name="encodeField" ngDefaultControl>
            <mat-label>Encode Base 64</mat-label>
            <textarea [matTextareaAutosize]="true" matInput rows=10 [(ngModel)]="textToEncode" (input)="encodeBase64()"></textarea>
            <mat-icon class="btn-textarea" [class.hand-click]="!controlDownloadFile" [class.icon-disabled]="controlDownloadFile" matTooltip="Download" (click)="downloadFile('encode')">file_download</mat-icon>
            <mat-icon class="btn-textarea-copy" [class.hand-click]="!controlDownloadFile" [class.icon-disabled]="controlDownloadFile" matTooltip="Copiar" (click)="copyValue('encode')">content_copy</mat-icon>
          </mat-form-field>
      </div>
      <div [class.col-6]="!isMobile()" [class.col-12]="isMobile()">
        <mat-form-field class="field-full-width" appearance="fill" name="decodeField" ngDefaultControl>
            <mat-label>Decode Base 64</mat-label>
            <textarea [matTextareaAutosize]="true" matInput rows=10 [(ngModel)]="textToDecode" (input)="decodeBase64()">
            </textarea>
            <mat-icon class="btn-textarea" [class.hand-click]="!controlDownloadFile" [class.icon-disabled]="controlDownloadFile" matTooltip="Download" (click)="downloadFile('decode')">file_download</mat-icon>
            <mat-icon class="btn-textarea-copy" [class.hand-click]="!controlDownloadFile" [class.icon-disabled]="controlDownloadFile" matTooltip="Copiar" (click)="copyValue('decode')">content_copy</mat-icon>
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="m-3">
    <mat-checkbox class="example-margin" [checked]="false" (change)="selectMultipleLines($event.checked)">
      Múltiplas Linhas
    </mat-checkbox>
  </div>
<div class="m-3">
    <h3>Importar Arquivo</h3>
</div>
<div class="m-3">
  <button class="btn-generate" mat-raised-button (click)="fileInputEncode.click()" color="primary">Importar arquivo</button>
  <input hidden type="file" #fileInputEncode (change)="readFile($event)" accept=".txt">
</div>


<mat-divider></mat-divider>

<div class="m-3">
    <h3>Converter Arquivo</h3>
</div>

<div class="m-3">
  <mat-radio-group [(ngModel)]="convertFileSelect">
      <div *ngFor="let option of convertFileOptions">
          <mat-radio-button class="m-2"  [value]="option.id">
              {{option.text}}
          </mat-radio-button>
      </div>
  </mat-radio-group>
</div>

<div class="m-3">
  <mat-checkbox class="example-margin" [checked]="false" (change)="selectMultipleLinesToConvert($event.checked)">
    Múltiplas Linhas
  </mat-checkbox>

</div>

<div class="m-3">
  <button class="btn-generate" mat-raised-button (click)="fileInputConvert.click()" color="primary">Converter arquivo</button>
  <input hidden type="file" #fileInputConvert (change)="readAndConvertFile($event)" accept=".txt">
</div>


